body{
  background: rgb(75,63,251);
  background: linear-gradient(45deg, rgba(75,63,251,1) 0%, rgba(212,75,137,1) 100%, rgba(252,70,107,1) 100%);
  color: white;
}
h1{
  margin: 0.5em;
}
.box{
  background: black;
  border: 1em outset black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 50em;
  margin-bottom: 0em;
  overflow-y: scroll;
  overflow-x:hidden;
}
.box::-webkit-scrollbar{
  width: 5px;
}
.box::-webkit-scrollbar-track{
  background: transparent;
}
.box::-webkit-scrollbar-thumb{
  background: white;
  border: 1em;
  border-radius: 1em;
  height: 50px;
}


.btn-outline-primary{
  color: white;
  border-color: white;
}
.textcon{
  background:  rgb(57,57,57);
  margin: 0.25em;
  border-radius: 5px;
  padding: 0.2em 4.1em 0.1em 2.1em;
}
.sender{
  color: gray;
}
.insertbox{
  background: white;
  color: black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1em solid white;
}
.user{
  border-right:2px solid black;
  height: 100%;
}

#message{
 height: auto;
  width: 100%;
  border: none;
  resize: none
}
#submit{
  margin: 1em;
  padding: 0.5em 2em;
}